DISCORD_TOKEN=put-your-bot-token-here
CLIENT_ID=1508917134405669045
CRYSTAL_GUILD_ID=1508638322820518009
CRYSTAL_APPLICATION_CHANNEL_ID=1508638322820518009
LTMS_GUILD_ID=
LTMS_REQUEST_CHANNEL_ID=
LTMS_APPLICATION_CHANNEL_ID=
LTMS_HIGH_RESULTS_CHANNEL_ID=
LTMS_NORMAL_RESULTS_CHANNEL_ID=
LTMS_VERIFIED_ROLE_ID=
LTMS_NA_WAITLIST_ROLE_ID=
LTMS_EU_WAITLIST_ROLE_ID=
LTMS_HT1_ROLE_ID=
LTMS_LT1_ROLE_ID=
LTMS_HT2_ROLE_ID=
LTMS_LT2_ROLE_ID=
LTMS_HT3_ROLE_ID=
LTMS_LT3_ROLE_ID=
LTMS_HT4_ROLE_ID=
LTMS_LT4_ROLE_ID=
LTMS_HT5_ROLE_ID=
LTMS_LT5_ROLE_ID=
LTMS_TESTER_ROLE_IDS=
UHC_GUILD_ID=
UHC_REQUEST_CHANNEL_ID=
UHC_APPLICATION_CHANNEL_ID=
UHC_HIGH_RESULTS_CHANNEL_ID=
UHC_NORMAL_RESULTS_CHANNEL_ID=
UHC_VERIFIED_ROLE_ID=
UHC_NA_WAITLIST_ROLE_ID=
UHC_EU_WAITLIST_ROLE_ID=
UHC_HT1_ROLE_ID=
UHC_LT1_ROLE_ID=
UHC_HT2_ROLE_ID=
UHC_LT2_ROLE_ID=
UHC_HT3_ROLE_ID=
UHC_LT3_ROLE_ID=
UHC_HT4_ROLE_ID=
UHC_LT4_ROLE_ID=
UHC_HT5_ROLE_ID=
UHC_LT5_ROLE_ID=
UHC_TESTER_ROLE_IDS=
POT_GUILD_ID=
POT_REQUEST_CHANNEL_ID=
POT_APPLICATION_CHANNEL_ID=
POT_HIGH_RESULTS_CHANNEL_ID=
POT_NORMAL_RESULTS_CHANNEL_ID=
POT_VERIFIED_ROLE_ID=
POT_NA_WAITLIST_ROLE_ID=
POT_EU_WAITLIST_ROLE_ID=
POT_HT1_ROLE_ID=
POT_LT1_ROLE_ID=
POT_HT2_ROLE_ID=
POT_LT2_ROLE_ID=
POT_HT3_ROLE_ID=
POT_LT3_ROLE_ID=
POT_HT4_ROLE_ID=
POT_LT4_ROLE_ID=
POT_HT5_ROLE_ID=
POT_LT5_ROLE_ID=
POT_TESTER_ROLE_IDS=
NETHOP_GUILD_ID=
NETHOP_REQUEST_CHANNEL_ID=
NETHOP_APPLICATION_CHANNEL_ID=
NETHOP_HIGH_RESULTS_CHANNEL_ID=
NETHOP_NORMAL_RESULTS_CHANNEL_ID=
NETHOP_VERIFIED_ROLE_ID=
NETHOP_NA_WAITLIST_ROLE_ID=
NETHOP_EU_WAITLIST_ROLE_ID=
NETHOP_HT1_ROLE_ID=
NETHOP_LT1_ROLE_ID=
NETHOP_HT2_ROLE_ID=
NETHOP_LT2_ROLE_ID=
NETHOP_HT3_ROLE_ID=
NETHOP_LT3_ROLE_ID=
NETHOP_HT4_ROLE_ID=
NETHOP_LT4_ROLE_ID=
NETHOP_HT5_ROLE_ID=
NETHOP_LT5_ROLE_ID=
NETHOP_TESTER_ROLE_IDS=
SMP_GUILD_ID=
SMP_REQUEST_CHANNEL_ID=
SMP_APPLICATION_CHANNEL_ID=
SMP_HIGH_RESULTS_CHANNEL_ID=
SMP_NORMAL_RESULTS_CHANNEL_ID=
SMP_VERIFIED_ROLE_ID=
SMP_NA_WAITLIST_ROLE_ID=
SMP_EU_WAITLIST_ROLE_ID=
SMP_HT1_ROLE_ID=
SMP_LT1_ROLE_ID=
SMP_HT2_ROLE_ID=
SMP_LT2_ROLE_ID=
SMP_HT3_ROLE_ID=
SMP_LT3_ROLE_ID=
SMP_HT4_ROLE_ID=
SMP_LT4_ROLE_ID=
SMP_HT5_ROLE_ID=
SMP_LT5_ROLE_ID=
SMP_TESTER_ROLE_IDS=
SWORD_GUILD_ID=1510413936145596496
SWORD_REQUEST_CHANNEL_ID=1510415495868711002
SWORD_APPLICATION_CHANNEL_ID=1510415526902497281
SWORD_HIGH_RESULTS_CHANNEL_ID=1510415349370060920
SWORD_NORMAL_RESULTS_CHANNEL_ID=1510415392407945226
SWORD_VERIFIED_ROLE_ID=1510417214996480173
SWORD_NA_WAITLIST_ROLE_ID=1510417101033050212
SWORD_EU_WAITLIST_ROLE_ID=1510417145782075532
SWORD_HT1_ROLE_ID=1510416624967094472
SWORD_LT1_ROLE_ID=1510416684450844803
SWORD_HT2_ROLE_ID=1510416749877530715
SWORD_LT2_ROLE_ID=1510416823798071376
SWORD_HT3_ROLE_ID=1510416885001228421
SWORD_LT3_ROLE_ID=1510416955541164202
SWORD_HT4_ROLE_ID=1510417003431727174
SWORD_LT4_ROLE_ID=1510417024013303968
SWORD_HT5_ROLE_ID=1510417044502347816
SWORD_LT5_ROLE_ID=1510417070100185128
SWORD_TESTER_ROLE_IDS=1510416440212328548,1510416484663562240,1510416554355986462
AXE_GUILD_ID=
AXE_REQUEST_CHANNEL_ID=
AXE_APPLICATION_CHANNEL_ID=
AXE_HIGH_RESULTS_CHANNEL_ID=
AXE_NORMAL_RESULTS_CHANNEL_ID=
AXE_VERIFIED_ROLE_ID=
AXE_NA_WAITLIST_ROLE_ID=
AXE_EU_WAITLIST_ROLE_ID=
AXE_HT1_ROLE_ID=
AXE_LT1_ROLE_ID=
AXE_HT2_ROLE_ID=
AXE_LT2_ROLE_ID=
AXE_HT3_ROLE_ID=
AXE_LT3_ROLE_ID=
AXE_HT4_ROLE_ID=
AXE_LT4_ROLE_ID=
AXE_HT5_ROLE_ID=
AXE_LT5_ROLE_ID=
AXE_TESTER_ROLE_IDS=
MACE_GUILD_ID=1508918073116327976
MACE_REQUEST_CHANNEL_ID=1508984069113909268
MACE_APPLICATION_CHANNEL_ID=1508918073116327976
MIGRATION_CHANNEL_ID=1509007513557798953
